{% extends 'mainapp/base.html' %}
{% block content %}
<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-header bg-danger text-center text-light">
    <h1>All Flights</h1>
  </div>
<div class="card-body bg-light">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      <table class="table table-striped table-bordered table-hover fs-5" id="dataTable" style="line-height: 50px;">
        <thead class="table-dark">
        <tr>
          <th>Flight number.Leg Number</th>
          <th>Leg Date</th>
          <th>Departure Airport</th>
          <th>Arrival Airport</th>
          <th>Scheduled Departure Time</th>
          <th>Scheduled Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        {% for value in leg_instances %}
            <tr>
              <td><a href="{% url 'seats' id=value.id %}" style="text-decoration:none">{{ value.flight_number }}</a></td>
              <td class="table-primary">{{ value.date }}</td>
              <td class="table-success">{{ value.departure_airport_code }}</td>
              <td class="table-warning">{{ value.arrival_arport_code }}</td>
              <td class="table-success">{{ value.departue_time }}</td>
              <td class="table-warning">{{ value.arrival_time }}</td>
            </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Flight number.Leg Number</strong></td>
          <td><strong>Departure Airport</strong></td>
          <td><strong>Arrival Airport</strong></td>
          <td><strong>Scheduled Departure Time</strong></td>
          <td><strong>Scheduled Arrival Time</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
